<div class="row">
  <div class="small-8 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "all_camps" %>
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->

  </div>
</div>