<h2>Welcome Chess Parents!</h2>

<div class="row">
	<div class="small-7 columns">

<p><%= image_tag 'index.jpeg', class: "left" %> Welcome to Alex & Mark Chess Camp webpage
all of our instructors have exceptionally high ratings. You can get a lot out from joining our camp. We have navigation bar at the top and you can take a look about the details of our camp.
</p>

</div>



<!-- 	<div class="small-1 columns">
		&nbsp;
	</div> -->
	<div class="small-5 columns">
		<div class="panel clearfix">
			<% if !@some_upcoming_camps.empty? %>
			<h4>Some Upcoming Camps:</h4>
			 <% @some_upcoming_camps.each do |camp| %>
				<li><%= "#{camp.name} " %><%= link_to "#{camp.start_date.strftime('%B %e, %Y')}", camp_path(camp) %></li>
			<%	end %>
			<% else %> 
			<p> We currently do not have any upcoming camps avalible</p>
			<% end %>
		
		</div>
	</div>
</div>