<h2>About the A &amp; M Chess Camps</h2>

<%= image_tag 'BoysPlaying2.jpg' %>
<p class="supertiny">&nbsp;</p>





<h1>About Us</h1>

<p > <%= image_tag 'about.jpg', class: "left" %>
    About us: So we know you are very interested in us just as much as you are in chess. But this website is actually just a project made by someone at Carnegie Mellon Unviersity and this is not done yet. So yeah, if you think this website is cool, go to the contact us page and you can see my information.
</p>