<h2>Contact A &amp; M Chess Camps</h2>


<p id = "main_content"> Contact: Hey, welcome to the contact page. </p>
<p > Following is the webmaster contact information: </p>
<table cellpadding="3">
    <tr>
        <td>Contact: Webmaster:&nbsp;&nbsp;&nbsp;</td>
        <td>Xiaotian (Adam) Cao</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
        <%= mail_to("xcao1@andrew.cmu.edu", "xcao1@andrew.cmu.edu", encode: "javascript") %> 
        </td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>412-123-4567</td>
    </tr>
</table>



<p><em>Note: We welcome your complaints and look forward to reading your letters of great anguish. You can really tell me anything.</em></p>
